<div class="row">
  <div class="col-xs-12 col-md-4">
    <h2>Add new item</h2>
  </div>
</div>

<form #myform="ngForm" (ngSubmit)="onSubmit(myform)">

  <div class="form-group">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">
        <label>Title</label>
        <input class="form-control" type="text" name="title" [(ngModel)]="item.title" required>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">
        <label>Price</label>
        <input class="form-control" type="string" name="price" [(ngModel)]="item.price">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">
        <label>Color</label>
        <input type="color" name="color" [(ngModel)]="item.color">
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">
        <label>Image</label>
        <input class="form-control" type="file" accept=".jpg, .jpeg, .png" name="image" (change)="onFileChange($event)">
        <div *ngIf="item.image" class="form-control img-preview text-center">
          <img name="imagePreview" alt="Image preview" [src]="item.image">
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-md-6 col-lg-5">
        <button class="form-control btn btn-primary" type="submit">Submit</button>
      </div>
    </div>
  </div>

</form>