<header>
  <div class="navbar navbar-dark bg-dark">
    <div class="container d-flex justify-content-between">
      <a href="#" class="navbar-brand">{{title}}</a>
    </div>
  </div>
</header>

<main role="main">

  <div class="album text-muted">
    <div class="container">

      <div class="row">
        <div *ngFor="let item of items" class="card">
          <p class="card-text">{{item.title}}</p>
        </div>
        <div class="card">
          <img alt="Card image cap">
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little
            bit longer.</p>
        </div>

      </div>
    </div>
  </div>

</main>

<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
  </div>
</footer>
