<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" routerLink="/">{{ title }}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/addItem">Add Items</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/login">Login</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<main role="main">
  <div class="album text-muted">
    <div class="container">
      <router-outlet></router-outlet>
    </div>
  </div>
</main>

<footer class="footer">
  <div class="container">
    <span class="text-muted">
      <a href="https://github.com/OhmNoobs/Matomat">Matomat</a> and
      <a href="https://github.com/OhmNoobs/Mateular">Mateular</a>
    </span>
  </div>
</footer>
