<div class="row">
  <div class="col-xs-12 col-md-12">
    <table class="table table-striped">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="tc-xs">#</th>
          <th scope="col">Title</th>
          <th scope="col">Price</th>
          <th scope="col">Color</th>
          <th scope="col">Image</th>
          <th scope="col" class="tc-s">Delete</th>
          <th scope="col" class="tc-s">Edit</th>
        </tr>
      </thead>
      <tbody id="itemList">
        <tr *ngFor="let item of items" id="item-{{item.id}}">

          <ng-container *ngIf="item !== selectedItem">
            <th scope="row">{{ item.id }}</th>
            <td>{{ item.title }}</td>
            <td>{{ item.price }}</td>
            <td>
              <div class="color-preview" [style.background]="item.color"></div>
            </td>
            <td>
              <img name="imagePreview" class="img-preview-sm" alt="Image preview" [src]="item.image">
            </td>
            <td class="td-content-center">
              <button class="btn btn-danger btn-sm" (click)="onDelete(item.id)">
                <i class="ic-delete"></i>
              </button>
            </td>
            <td class="td-content-center">
              <button class="btn btn-default btn-sm" (click)="onEdit(item)">
                <i class="ic-edit"></i>
              </button>
            </td>
          </ng-container>

          <ng-container *ngIf="item === selectedItem">
            <th scope="row">{{ item.id }}</th>
            <td><input class="form-control" type="text" name="title" [(ngModel)]="item.title"></td>
            <td><input class="form-control" type="text" name="price" [(ngModel)]="item.price"></td>
            <td>
              <input type="color" name="color" [(ngModel)]="item.color">
            </td>
            <td>
              <img name="imagePreview" class="img-preview-sm" alt="Image preview" [src]="item.image">
            </td>
            <td class="td-content-center">
              <button class="btn btn-danger btn-sm" (click)="onDelete(item.id)">
                <i class="ic-delete"></i>
              </button>
            </td>
            <td class="td-content-center">
              <button class="btn btn-outline-success btn-sm" (click)="onSave(item)">
                <i class="ic-check"></i>
              </button>
            </td>
          </ng-container>

        </tr>
      </tbody>
    </table>
  </div>
</div>
