/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #dbdbdb;
}

footer p {
  margin-bottom: .25rem;
}

.navbar {
  margin-bottom: 0;
}

.album {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  align-items: center;
  justify-content: center;
  height: 20rem;
  cursor: pointer;
}

.card > img {
  margin-bottom: .75rem;
  height: 80%
}

.card-text {
  font-size: 2rem;
  text-align: center;
}

.img-preview {
  margin-top: 1rem;
  align-items: center;
  justify-content: center;
  height: 15rem;
  float: left;
}

.img-preview-sm {
  align-items: center;
  justify-content: center;
  height: 5rem;
  float: left;
}

.img-preview > img {
  height: 100%;
}

.img-preview-sm > img {
  height: 100%;
}

.color-preview {
  border: 1px solid;
  width: 35px;
  height: 35px;
}

.table {
  table-layout: fixed;
}

.td-content-center {
  text-align: center;
}

.tc-xs {
  width: 5%;
}

.tc-s {
  width: 10%;
}

/* ======== Icon-Section ======== */

.ic-delete {
  content: url('./assets/ic-delete.svg');
}

.ic-edit {
  content: url('./assets/ic-edit.svg');
}

.ic-check {
  content: url('./assets/ic-check-circle.svg');
}
